
<body>
  <div *ngIf="user_actual" class="container profile-container">
    <div class="row align-items-center mb-4">
      <div class="col-auto">
        <img src="/assets/image/Profil_Picture.webp" alt="Defaultimage" class="rounded-circle profile-img">
      </div>
      <div class="col">
        <h3>{{ user_actual.name + ' ' + user_actual.surname }}</h3>
        <p>Email: {{ user_actual.mail }}</p>
        <p>Role: {{ user_actual.id }}</p>
      </div>
    </div>

    <div class="container">
      <mat-tab-group>
        <mat-tab label="Registrations">
          <div class="container">
            <h2>Events</h2>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Title</th>
                  <th>Date beginning</th>
                  <th>Creator</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reg of registration">
                  <td>{{ reg.event.title }}</td>
                  <td>{{ reg.event.dateBegining | date: 'short' }}</td>
                  <td>{{ reg.event.idCreator.name + ' ' + reg.event.idCreator.surname }}</td>
                  <td><button *ngIf="isEventActive(reg.event.date_end)" type="button" class="btn btn btn-outline-danger" (click)="Unregister(reg.registrationID)">Unregister</button>
                    <button *ngIf="!isEventActive(reg.event.date_end)"type="button" class="btn btn-outline-success" (click)="openFeedbackDialog(reg.registrationID)">Give feedback</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>

        <mat-tab label="My Feedbacks">
          <div class="container">
            <h2>My Feedbacks</h2>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Event</th>
                  <th>Rating</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let feedback of user_feedback">
                  <td>{{ feedback.registration.event.title }}</td>
                  <td>                    
                    <ng-container *ngFor="let _ of [].constructor(feedback.rating); let i = index">
                    <i class="bi bi-star"></i>
                  </ng-container></td>
                  <td>{{ feedback.description}}</td>
                  <td><button type="button" class="btn btn btn-outline-danger" (click)="DeleteFeedback(feedback.id_feedback)">Unregister</button>
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>

        <mat-tab label="My event">
          <div class="container">
            <h2>My event</h2>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Title</th>
                  <th>Date beginning</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of User_events">
                  <td>{{ event.title }}</td>
                  <td>{{ (event.dateBegining | date: 'short')+" to "+(event.date_end | date:'short')}}</td>
                  <td>{{ event.location }}</td>
                  <td><button *ngIf="isEventActive(event.date_end)" type="button" class="btn btn btn-outline-danger" (click)="DeleteEvent(event.idEvent)">Delete your event</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div *ngIf="!user_actual">
    <p>Loading user details...</p>
  </div>
</body>