<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMA Banner</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid d-flex justify-content-between align-items-center py-3">
            <a class="navbar-brand d-flex align-items-center" href="#" style="font-size: 24px; color: white;">
                <img src="/assets/image/Logo_EMA.jpg" style="width: 185px;" alt="logo">
                
            </a>
            <div>
                <a class="btn btn-outline-light me-2 bi-box-arrow-right"  href="#" (click)="confirmLogout($event)" >Log-out</a>
                <a class="btn btn-outline-light ms-2" href="#">Write</a>
            </div>
        </div>
    </nav>
</body>
</html>
