<!-- top-bar.component.html -->


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between mt-2">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          src="/assets/image/Logo_EMA.jpg"
          height="60"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px; "
        />
      </a>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->


    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="/home">
          <img
            src="/assets/image/Profil_Picture.webp"
            class="rounded-circle"
            height="60"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
          <strong *ngIf="current_user" class="d-none d-sm-block ms-1 text-white"></strong>
          <button 
          class="btn btn-white btn-sm ms-1" 
          style="border: none; color: white; background-color: transparent; font-size: 1.5em;" 
          (click)="confirmLogout($event)"
          >
          <i class="bi bi-box-arrow-right"></i>
        </button>
        </a>
          

      </li>

    </ul>
    <!-- Right elements -->
  </div>

</nav>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <!-- Center elements -->
    <ul class="navbar-nav flex-row">
      <span class="vertical-bar"></span>
      <li class="nav-item me-3 me-lg-1">
        <a class="btn btn-outline-light mx-2" routerLink="/home"><i class="bi bi-house"></i> Home</a>
      </li>
      <span class="vertical-bar"></span>
      <li class="nav-item me-3 me-lg-1">
        <a class="btn btn-outline-light mx-2" routerLink="/events"><i class="bi bi-calendar-event"></i> Events</a>
      </li>
      <span class="vertical-bar"></span>
      <li class="nav-item me-3 me-lg-1">
        <a class="btn btn-outline-light mx-2" routerLink="/addevent"><i class="bi bi-plus"></i> Add new event</a>
      </li>
      <span class="vertical-bar"></span>
    </ul>
    <!-- Center elements -->
  </div>
</nav>

<!-- Navbar -->
